<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <% if @colors == INIT_COLOR %>
    <title>Clr.yt ♥ A minimal web based color picker for HEX and RGB color codes</title>
    <% else %>
    <title>Clr.yt ♥ <%= format_as_hex_values @colors %></title>
    <% end %>
    <meta name="description" content="A minimal web based color picker for HEX and RGB color codes">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png" />
    <meta name="apple-mobile-web-app-title" content="clr.yt">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="/startup-640x920.png"
      media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image">
    <link href="/startup-640x1096.png"
      media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image">
    <% if @colors == INIT_COLOR %>
    <meta property="og:title" content="Clr.yt ♥ A minimal web based color picker for HEX and RGB color codes"/>
    <% else %>
    <meta property="og:title" content="Clr.yt ♥ <%= format_as_hex_values @colors %>"/>
    <% end %>
    <meta property="og:description" content="A minimal web based color picker for creating color palettes with HEX and RGB color codes"/>
    <meta property="og:type" content="other"/>
    <meta property="og:image" content="http://clr.yt/<%= @colors %>.png"/>
    <meta property="og:url" content="http://clr.yt/<%= @colors %>"/>
    <meta property="fb:app_id" content="455447084515211">
    <meta name="twitter:card" content="photo">
    <meta name="twitter:site" content="@clryt">
    <meta name="twitter:url" content="http://clr.yt/<%= @colors %>">
    <meta name="twitter:title" content="Clr.yt palette">
    <meta name="twitter:description" content="Color palette with #<%= @colors.gsub("-", " #") %>">
    <meta name="twitter:image" content="http://clr.yt/<%= @colors %>.png">
    <meta name="twitter:image:width" content="400">
    <meta name="twitter:image:height" content="400">
    <link rel="stylesheet" href="<%= stylesheet_path 'main' %>">
  </head>
  <body data-init-colors="<%= @colors %>">
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    <div class="container">
      <div id="main">
        <div class="row">
          <div id="main-color-codes" class="color-code codes">
            <input class="hex" spellcheck="false" readonly="readonly">
            <input class="rgb" spellcheck="false" readonly="readonly">
          </div>
        </div>
        <div class="row">
          <div id="colorpicker"></div>
        </div>
        <div class="row" id="complimentary-colors"></div>
        <div class="row" id="complimentary-colors-tools">
          <div id="add-complimentary-color" title="Add complimentary color"></div>
        </div>
      </div>
    </div>
    <a href="#share" id="open-share" title="Share your colors"></a>
    <div id="share">
      <a href="#close-share" id="close-share"></a>
      <div class="contents">
        <h1>Share<br>your colors</h1>
        <a class="url" href="http://clr.yt/<%= @colors %>">http://clr.yt/<%= @colors %></a>
        <div id="social">
          <div id="tweetBtn">
            <a class="twitter-share-button" href="http://twitter.com/share" data-url="http://clr.yt/<%= @colors %>" data-text="Clr.yt ♥ <%= @colors %>">Tweet</a>
          </div>
          <div id="fbBtn">
            <div class="fb-like" data-href="http://clr.yt/<%= @colors %>" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false"></div>
          </div>
        </div>
        <p><strong>Tip:</strong> Grab your colors as a <a href="#" class="url-image" title="A regular image">a PNG</a><br>
        or <a href="#" class="url-ase" title="For use in Adobe's products">a ASE</a> file.</p>
      </div>
    </div>
    <footer>
      <%# <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://clr.yt/">Tweet</a> %>
      <%# <div class="fb-like" data-href="http://clr.yt" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div> %>
      <p>Made by <a href="https://twitter.com/arvid_a">Arvid Andersson</a> and <a href="https://twitter.com/lawa">Lars Wästfelt</a> at <a href="http://oktavilla.se/">Oktavilla</a> in Stockholm, Sweden.<br>
      Using <a href="https://github.com/F1LT3R/farbtastic-color-picker">Farbtastic</a>.</p>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="<%= javascript_path 'application' %>"></script>

    <% if settings.production? %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20637790-7']);
      _gaq.push(['_setDomainName', 'clr.yt']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <% end %>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
